{% comment %}
  The contents of the collection.order.liquid template can be found in /sections/collection-order.liquid
{% endcomment %}
{% capture order_template %}{% section 'collection-order' %}{% endcapture %}

{% comment %}
Inject personalize options into the order form.
{% endcomment %}
{% capture personalize %}{% section 'product-personalize' %}{% endcapture %}
{% assign personalize = personalize | replace: 'class="shopify-section"', 'class="shopify-section-nested"' %}
{{ order_template | replace: '<div id="personalize"></div>', personalize }}
